.version {
    float: right;
    margin-top: -34px;
    margin-right: 87px;
    color: rgba(255, 255, 255, 0.24);
}

@font-face {
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/webfonts/GrandHotel.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/webfonts/roboto.woff2') format('woff2');
}

i.icon-cancel {
    color: white;
    cursor: pointer;
    float: right;
    z-index: 100;
    position: relative;
    margin-top: -320px;
    padding: 10px;
}

.page3 .musicOptBox {
    height: 280px;
    z-index: 10;
    background: #303c50;
    position: absolute;
    margin-top: -321px;
    margin-left: 2px;
    width: 245px;
}

.page3 .musicOptBox:hover {
    cursor: default;
    box-shadow: none;
}

.player {
    visibility: hidden;
}

.page2,
.page3 {
    display: none;
    transition: 1s all;
}

html {
    -webkit-app-region: drag;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-245deg, #00a798 10%, #81a4e0 100%);
    /*background-image: src('../assets');*/
    height: 100%;
    width: 100%;
}

.footer-icon {
    font-size: 22px;
    color: rgb(48, 60, 80);
    transition: .2s ease;
}

.footer-icon:hover {
    cursor: pointer;
    color: white;
    transition: .5s ease;
}

.musicOptBox:hover .arrow-right {
    transition: .5s all;
    opacity: 1;
    margin-right: -10px;
}

.mainTitle {
    font-family: 'Grand Hotel', cursive;
    color: rgb(255, 255, 255);
    margin: 22px 0 0 0;
    text-align: -webkit-center;
    font-weight: 400;
    font-size: 37px;
    text-shadow: 6px 6px 17px rgba(63, 64, 66, 0.68);
}

p {
    margin: 0;
}

.mainTitle__subtext {
    margin: 38px 0 30px 0;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 600;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.42);
}

.musicOptBox {
    padding: 13px 13px 13px 22px;
    background: white;
    margin: 19px 2px;
    border-radius: 7px;
    transition: .2s ease;
}

.musicOptBox:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.musicOptBox__title {
    color: #00a79d;
    font-size: 21px;
}

.musicOptBox__desc {
    color: #648bcc;
    font-size: 12px;
    padding: 2px 0px;
}

.page3 .musicOptBox a {
    color: #00d2af;
    text-decoration: none;
}

.page3 .musicOptBox .musicOptBox__title {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.page3 .musicOptBox .musicOptBox__desc {
    color: #ffffff;
    font-size: 14.5px;
    margin-top: 10px;
}

.arrow-left {
    margin-top: -31px;
    float: left;
    margin-left: -40px;
    font-size: 22px;
    color: #81a4e0;
    transition: .5s all;
    opacity: .5;
}

.musicOptBox.page2:hover .arrow-left {
    transition: .5s all;
    opacity: 1;
    margin-left: -43px;
}

.arrow-right {
    margin-top: -31px;
    float: right;
    margin-right: 2px;
    font-size: 22px;
    color: #81a4e0;
    transition: .5s all;
    opacity: .5;
}

.musicOptBox:hover .arrow-right {
    transition: .5s all;
    opacity: 1;
    margin-right: -1px;
}

footer {
    text-align: center;
    position: fixed;
    height: 62px;
    bottom: 0px;
    color: white;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: -1;
}

.musicOptBox.page2 {
    margin-top: -10px;
    padding-left: 50px;
}

.pausePlayBtn {
    font-size: 66px;
    float: right;
    position: absolute;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}

.pausePlayContainer {
    cursor: pointer;
    position: absolute;
    margin-top: -140px;
    color: #ffffff;
    margin-left: 95px;
}

.volume-block {
    border-radius: 7px;
    position: absolute;
    right: 14px;
    left: 10px;
    bottom: 65px;
    -webkit-app-region: no-drag;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 2px;
    background: rgb(48, 60, 80);
    outline: none;
    display: block;
    margin-top: 6px;
    margin-left: 16px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(48, 60, 80);
    cursor: pointer;
}

.volume-icon {
    width: 5%;
    float: left;
    -webkit-user-select: none;
}
